#!/usr/bin/make -f
# -*- makefile -*-
# Copyright 2003-2005, Sebastian Rittau <srittau@debian.org>
# Copyright 2004, 2006-2010, Jonas Smedegaard <dr@jones.dk>
# Copyright 2013, Jozef Korencik (launchpad) <joffko@gmail.com>

# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2, or (at
# your option) any later version.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


include /usr/share/cdbs/1/rules/upstream-tarball.mk
include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/hardening-includes/hardening.make


# Tighten security - more info at http://wiki.debian.org/Hardening
CFLAGS += $(HARDENING_CFLAGS)
LDFLAGS += $(HARDENING_LDFLAGS)


DEB_CONFIGURE_EXTRA_FLAGS := \
        --with-init-style=debian-systemd \
        --without-libevent \
        --without-tdb \
        --with-cracklib \
        --enable-krbV-uam \
	--prefix=/usr \
        --with-pam-confdir=/etc/pam.d \
        --with-dbus-sysconf-dir=/etc/dbus-1/system.d \
	--sysconfdir=/etc/netatalk \
	--localstatedir=/var/lib \
        --with-tracker-pkgconfig-version=1.0

CDBS_DEPENDS = netbase, libpam-modules
CDBS_SUGGESTS = texlive-base-bin, groff, quota, db4.8-util

